<section id="brand-wrap" class="box full">
	<div id="top">
		<%= image_tag "uttermost.jpg", :title => "Lazyboy" %>
	</div>
	<div class="hr"></div>
	<p><span class="lead">This year marks our 36th anniversary </span> in business. Founded by Bob and Belle Cooper, and still family owned, we are lead by Mac Cooper, President/CEO, as well as a team of young but seasoned executives. In addition, the Uttermost family includes hundreds of employees in VA, CA, Asia, and over a hundred sales representatives globally. </p>
	<p><span class="lead">The Uttermost culture</span> is founded on the concept of partners in business. From the Designer who envisions and creates the new idea to the craftsman in the factory who transforms that idea into a finished product, to the Retailer who selects and merchandises that new item, we’re all dependent on each other. </p>
	<p><span class="lead">Uttermost offers one of the most broad</span> and most current product lines in the world. Our line includes accent furniture, decorative mirrors, alternative wall, art, clocks, lamps, lighting fixtures, botanicals, and accessories. </p>
</section>

<div class="clearfix">
	<div class="box promo"><%= image_tag "matthew.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "matthew.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "matthew.png", :title => "title", :class => "class" %></div>
	
	<div class="box promo"><%= image_tag "logo-uttermost_small.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "logo-uttermost_small.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "logo-uttermost_small.png", :title => "title", :class => "class" %></div>

	<div class="box promo"><%= image_tag "matthew.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "matthew.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "matthew.png", :title => "title", :class => "class" %></div>

	<div class="box promo"><%= image_tag "logo-uttermost_small.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "logo-uttermost_small.png", :title => "title", :class => "class" %></div>
	<div class="box promo"><%= image_tag "logo-uttermost_small.png", :title => "title", :class => "class" %></div>
	
</div>

<%= render :partial => "home/product_slider_full_big", :locals => {:title => "Most popular", :id => "popular-products"} %>


