<section id="cart" class="box full">
	<table id="cart-table">
		<thead>
			<tr>
				<th colspan="2"><h3>Kosarad tartalma</h3></th>
				<th colspan="2"><p><a href="#">Login</a> or <a href="#">Register</a> for faster checkout!</p></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td class="coupon-cell">
					<label for="">Kupon-kód</label><input type="text" name="" id="" />
				</td>
				<td class="total-cell">
					<span class="sub">Cart subtotal</span>
					<span class="sub">Shipping</span>
					<span class="sub">VAT</span>
					<span class="total">Total</span>
				</td>
				<td class="sum-cell">
					<span class="sub">234 000 Ft</span>
					<span class="sub">0 Ft</span>
					<span class="sub">12 000 Ft</span>
					<span class="total">256 000 Ft</span>
				</td>
				<td class="checkout-cell">
					<form action="#">
						<input type="submit" value="Fizetés" />
						<a href="">Vásárlás folytatása</a>
					</form>
				</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td class="product-cell">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<div>
						<h6>Ottoman asztal</h6>
						<p><span class="property">anyag: </span>Bőr</p>	
						<p><span class="property">borítás: </span>Ón</p>
					</div>
				</td>
				<td class="discount-cell">
					Eligible for free shipping
				</td>
				<td class="price-cell">
					117 000 Ft
				</td>
				<td class="actions-cell">
					<input type="number" min='1' name="" id="" />
					<a class="delete" href="">x</a>
					<a href="#" class="update">update</a>
				</td>
			</tr>
			<tr>
				<td class="product-cell">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<div>
						<h6>Ottoman asztal</h6>
						<p><span class="property">anyag: </span>Bőr</p>	
						<p><span class="property">borítás: </span>Ón</p>
					</div>
				</td>
				<td class="discount-cell">
					Eligible for free shipping
				</td>
				<td class="price-cell">
					117 000 Ft
				</td>
				<td class="actions-cell">
					<input type="number" min='1' name="" id="" />
					<a class="delete" href="">x</a>
					<a href="#" class="update">update</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<div class="box-wrap clearfix">
	<section class="box third" id="payment-options">
		<h3>Fizetési lehetőségek</h3>
		<p><span class="lead">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus.</p>
	</section>

	<section class="box third mid" id="delivery-options">
		<h3>Szállítási információk</h3>
		<p><span class="lead">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus.</p>
	</section>

	<section class="box third last" id="faq-links">
		<h3>Biztonságos shopping</h3>
		<a href="#">asd</a>
		<a href="#">asd</a>
		<a href="#">asd</a>
		<a href="#">asd</a>
	</section>
</div>

<section class="box full slider clearfix" id="cart-slider">
	<h3>Check these out before you check out!</h3>
	  <a href="#" class="arrow left"></a>
	  <div class="carousel">
		<ul>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
		</ul>
	</div><!-- carousel -->
	<a href="#" class="arrow right"></a>
</section>