<%= stylesheet_link_tag("users") %>

<section id="register" class="box full clearfix">
	<h3 id="top">Register <span id="secure">Secure connection</span></h3>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  	<%= devise_error_messages! %>
		<div class="block">
			<h5>Account info</h5>
			<fieldset>
				<%= f.label :email %>
  				<%= f.email_field :email %>
				<a href="#" title="Ezzel tudsz majd bejelentkezni" class="tooltip">?</a>
			</fieldset>
			<fieldset>
				<%= f.label :password %>
  				<%= f.password_field :password %>
			</fieldset>
			<fieldset>
				<%= f.label :password_confirmation %>
  				<%= f.password_field :password_confirmation %>
			</fieldset>
		</div>
		<% @user.addresses.build %>
		<div class="block">
			<h5>Delivery info 	<a href="#" title="Alternatív címeket a profil oldalon adhat hozzá" class="tooltip">?</a></h5>
			<%= f.fields_for :addresses do |builder| %>
    			<fieldset>
					<%= builder.label :zip %>
	  				<%= builder.text_field :zip %>
					<!--label for="register-zip">Irányítószám</label>
					<input type="text" name="regsiter-zip" id="register-zip" /-->
				</fieldset>
				<fieldset>
					<%= builder.label :city %>
	  				<%= builder.text_field :city %>
					<!-- <label for="regsiter-city">Város</label>
					<input type="text" name="regsiter-city" id="register-city" /> -->
				</fieldset>
				<fieldset>
					<%= builder.label :additional %>
	  				<%= builder.text_field :additional %>
					<!-- <label for="register-address">Cím</label>
					<input type="text" name="regsiter-address" id="register-address" /> -->
				</fieldset>
  			<% end %>
		</div>
		<div class="block">
			<h5>Billing info</h5>
			<%= f.fields_for :addresses do |builder| %>
    			<fieldset>
					<%= builder.label :zip %>
	  				<%= builder.text_field :zip %>
					<!--label for="register-zip">Irányítószám</label>
					<input type="text" name="regsiter-zip" id="register-zip" /-->
				</fieldset>
				<fieldset>
					<%= builder.label :city %>
	  				<%= builder.text_field :city %>
					<!-- <label for="regsiter-city">Város</label>
					<input type="text" name="regsiter-city" id="register-city" /> -->
				</fieldset>
				<fieldset>
					<%= builder.label :additional %>
	  				<%= builder.text_field :additional %>
					<!-- <label for="register-address">Cím</label>
					<input type="text" name="regsiter-address" id="register-address" /> -->
				</fieldset>
  			<% end %>
		</div>
		<div class="block">

			<filedset>
				<%= f.submit "Sign up" %>
			</filedset>
		</div>
	<% end %>

</section>