<fieldset>
	<legend>kedvezmények</legend>
	<div class="field"><label for="">Ingyenes szállítás</label><input type="checkbox" name="kedv" id="" /></div>
	<div class="field"><label for="">Ajándék jár hozzá</label><input type="checkbox" name="kedv" id="" /></div>
</fieldset>

<%= field_set_tag t('.designers') do %>
	<% Designer.all.each do |designer| %>
		<%= designer.name << ":" %>
		<%= check_box_tag designer.name, designer.id, true %>
		<br/>
	<% end %>
<% end %>

<% PropertyCategory.order("category_name").each do |property_category| %>
	<% if property_category.properties.any? %>
		<%= field_set_tag property_category.category_name.to_s do %>
			<% if is_a_number?(l = property_category.properties.first.property_name) && is_a_number?(h = property_category.properties.last.property_name) %>
<!-- Csúszka helye -->
			Legkisebb: <%= l %>
			<br/>
			Legnagyobb: <%= h %>
<!-- Csúszka helye -->
			<% elsif property_category.properties.count < 15 %>
				<% property_category.properties.all.each do |property| %>
					<%= property.translate.property_name + ":" %>
					<%= check_box_tag property_category.id, property.id, true %>
					<br/>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
