<span class="counter">10</span>
	<%= link_to "KOSÁR", "/cart", :class => "minicart" %>
	<div id="minicart">
		<% cart = Cart.find(session[:cart_id]) %>
		<% cart.line_items.each do |item| %>
			<div class="row">
				<%= (image_tag item.product.default_photo, :title => item.product.default_photo.alt, :class => "class") if !item.product.default_photo.nil? %>
				<div class="data">
					<span class="title">
						<%= item.product.name %>
					</span>
					<span class="property">Quantity: <%= item.quantity %></span>
					<span class="property">Color: Red</span>
					<span class="property">Anyag: Bőr</span>
				</div>
				<span class="price"><%= item.product.price %></span>
			</div>
		<% end %>
		<div class="row total">
			Total: <span class="total-price"><%= cart.total %></span>
		</div>
		<%= link_to "Kosárhoz", "/cart", :class => "button" %>
	</div>
