<% @products.each_with_index do |product,i| %>
<% cl = i % 3 == 2 ? 'product last' : 'product'%>
<div class="<%= cl %>">
		<%= link_to product_path(product) do %>
		<div class="image">
			<span class="quicklook">quicklook</span>
				<%= image_tag product.default_photo.image_file.medium, :title => product.default_photo.alt, :class => "class" if !product.default_photo.nil? %>
		</div>
		<div class="clearfix">
			<div class="left">
				<p class="name">
					<%= product.name %>
				</p>
				<p class="price">
					<span class="current-price"><%= product.price %> Ft</span> <span class="old-price">123 000 Ft</span>
				</p>
			</div>
		</div>
	<% end %>
</div>
<% end %>

<%= render 'home/product_modal' %>
