<div class="clearfix">
	<section class="half first slider clearfix" id="<%= id1 %>">
		<h3><%= title1 %></h3>
		  <a href="#" class="arrow left"></a>
		  <div class="carousel">
			<ul>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
			</ul>
		</div><!-- carousel -->
		<a href="#" class="arrow right"></a>
	</section>

	<section class="half slider clearfix" id="<%= id2 %>">
			<h3><%= title2 %></h3>
			  <a href="#" class="arrow left"></a>
			  <div class="carousel">
				<ul>
			<ul>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
				<li >
					<a href="#">
						<%= image_tag "matthew.png", :title => "title", :class => "class" %>
						<p class="name">Okalami</p>
						<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
					</a>
				</li>
			</ul>
		</div><!-- carousel -->
		<a href="#" class="arrow right"></a>
	</section>
</div>