<section class="full slider big clearfix" id="<%= id %>">
	<h3>
		<%= title %>
		<% if products.count > 6 %>
			<a href="#" class="arrow right"></a><a href="#" class="arrow left"></a>
		<% end %>
	</h3>
  <div class="slider-inner">
		<ul class="carousel">
			<% products.each do |product| %>
				<li>
					<%= link_to product do %>
						<%= image_tag product.default_photo.image_file.medium, :title => product.default_photo.alt, :class => "class" if !product.default_photo.nil? %>
						<p class="name"><%= product.name.titleize %></p>
						<%= render :partial => "products/price", :locals => {:product => product } %>
					<% end %>
				</li>
			<% end %>
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
		</ul>
	</div>
</section>