<div id="slider-wrap">
	<section id="slider">
		<div class="slide" id="slide-1">
			1
			<a id="slide-1-plus-1" class="plus" href="">+</a>
			<a id="slide-1-plus-2" class="plus" href="">+</a>	
			<a id="slide-1-plus-3" class="plus" href="">+</a>
		</div>
		<div class="slide" id="slide-2">
			2
		</div>
		<div class="slide" id="slide-3">
			3
		</div>
		<div class="slide" id="slide-4">
			4
		</div>
		<div class="slide" id="slide-5">
			5
		</div>
		<div class="slide" id="slide-6">
			6
		</div>
	</section>
</div>
<div id="slider-thumbs">
	<ul>
		<li data-color="#7309AA" id="slide-1-thumb" class="active"><a href="#slide-1"><%= image_tag "matthew.png", :title => "title", :class => "class" %></a><div class="mask"><h5>Slide 1</h5></div></li>
		<li data-color="#9BED00" id="slide-2-thumb"><a href="#slide-2"><%= image_tag "matthew.png", :title => "title", :class => "class" %></a><div class="mask"><h5>Slide 2</h5></div></li>
		<li data-color="#3914AF" id="slide-3-thumb"><a href="#slide-3"><%= image_tag "uttermost.png", :title => "title", :class => "class" %></a><div class="mask"><h5>Slide 3</h5></div></li>
		<li data-color="#00B25C" id="slide-4-thumb"><a href="#slide-4"><%= image_tag "matthew.png", :title => "title", :class => "class" %></a><div class="mask"><h5>Slide 5</h5></div></li>
		<li data-color="#2A4480" id="slide-5-thumb"><a href="#slide-5"><%= image_tag "uttermost.png", :title => "title", :class => "class" %></a><div class="mask"><h5>Slide 5</h5></div></li>
		<li data-color="#F06C98" id="slide-6-thumb"><a href="#slide-6"><%= image_tag "matthew.png", :title => "title", :class => "class" %></a><div class="mask"><h5>Slide 1</h5></div></li>
	</ul>
</div>