<div id="ribbon">
	<p><span>ingyenes kiszállítás</span> &amp; <span>alacsony árak</span> &amp; <span>ingyenes visszaszállítás</span> &amp; <span>24/7 segélyvonal</span> &amp; <span>vidámság és szeretet</span></p>
</div>

<%= render :partial => "home/product_slider_full_big", :locals => {:title => "Legújabb termékeink", :id => "newest-products"} %>

<section id="promo-boxes">
	<div class="box promo">
		<div class="ribbon"><span class="ribbon-start"></span><p>Matthew</p><span class="ribbon-end"></span></div>
		<%= image_tag "matthew.png", :title => "title", :class => "class" %>
	</div>
	<div class="box promo">
		<div class="ribbon"><span class="ribbon-start"></span><p>Matthew-t szeretjük</p><span class="ribbon-end"></span></div>
		<%= image_tag "matthew.png", :title => "title", :class => "class" %>
	</div>
	<div class="box promo">
		<div class="ribbon"><span class="ribbon-start"></span><p>Kutya ül a fotelben és néz</p><span class="ribbon-end"></span></div>
		<%= image_tag "uttermost.png", :title => "title", :class => "class" %>
	</div>
	<div class="box promo">
		<%= image_tag "cart-icon.png", :title => "title", :class => "class" %>
	</div>
	<div class="box promo">
		<%= image_tag "cart-icon.png", :title => "title", :class => "class" %>
	</div>
	<div class="box promo">
		<%= image_tag "logo.png", :title => "title", :class => "class" %>
	</div>
</section>

<section class="box full" id="about-us">
	<h3>A Flairspringről</h3>
	<h4>A cég története</h4>
	<p> <span class="lead">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
	<p> <span class="lead">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
	<div class="hr"></div>
	<h3>Friss hírek</h3>
	<h4>A Flairspring blogból</h4>
	<div class="blog-entry">
		<p><span class="lead">Mauris eu erat et</span> <%= image_tag "matthew.png", :title => "title", :class => "class" %> sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. <a href="#">Bővebben &raquo;</a></p>
	</div>
	<div class="blog-entry">
		<p><span class="lead">Mauris eu erat et</span> <%= image_tag "matthew.png", :title => "title", :class => "class" %> sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. <a href="#">Bővebben &raquo;</a></p>
	</div>
</section>

<section class="box full" id="brands">
	<h3>Our brands</h3>
	<a href="#">
		<%= image_tag "lazyboy.jpg", :title => "title", :class => "class" %>
	</a>
	<a href="#">
		<%= image_tag "surya.jpg", :title => "title", :class => "class" %>
	</a>
	<a href="#">
		<%= image_tag "uttermost.jpg", :title => "title", :class => "class" %>
	</a>
</section>