<div id="ribbon">
	<p><span>10 év garancia ülőgarnitúráinkra</span> &amp; <span>30 nap visszavételi garancia</span> &amp; <span>Ingyenes lakberendezési tanácsadás</span></p>
</div>

<%= render :partial => "home/product_slider_full_big", :locals => {:title => "Legnépszerűbb termékeink", :id => "newest-products", :products => Product.where(:sku => ['26685', '23051', '09510', '23025', '14522 B', '24182', '24146', '19632', '26987', '32201', '20482', '50422', '08068']).order(:updated_at).limit(13) } %>

<section id="promo-boxes">
	<div class="box promo" id="lamps-promo">
		<a href="/lampak">
			<%= image_tag "home/lamps.png", :title => "900 féle lámpa" %>
			<h5>900 féle lámpa</h5>
		</a>
	</div>
	<div class="promowrap">
		<div class="promo box" id="facebook-promo">
			<h3>Lájkolja az oldalunkat</h3>
			<h4>nyereményekért és friss hírekért</h4>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=239184792781836";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like" data-href="http://www.flairspring.hu/" data-send="true" data-layout="button_count" data-width="200" data-show-faces="false"></div>
		</div>
		<div class="box promo" id="news-promo">
			<a href="http://eepurl.com/jS0aD">
				<div class="inner">
					<h5><span>Hírlevél</span></h5>
					<p>Minden feliratkozónak <span>2000 Ft</span> értékű kupon!</p>
				</div>
			</a>
		</div>
	</div>

	<div class="box promo" id="random-item">
		<div class="ribbon"><span class="ribbon-start"></span><p>@randomProduct.name</p><span class="ribbon-end"></span></div>
		<%= link_to (image_tag @randomProduct.photos.first.image_file, :title => @randomProduct.name, :width => 200, :height => 300) , @randomProduct %>
	</div>

	<div class="box promo" id="lazyboy-promo">
		<a href="/fotelek">
			<div class="ribbon"><span class="ribbon-start"></span><p>Lazyboy komfort fotelek</p><span class="ribbon-end"></span></div>
			<%= image_tag "home/lazboy.png", :title => "Lazboy komfort fotelek" %>
			<span class="feat" id="doles">Nagy <br> dőlésszög</span>
			<span class="feat" id="lab">Magasított <br> lábak</span>
			<span class="feat" id="emel">Emelhető <br> lábrész</span>
		</a>
	</div>

	<div class="box promo" id="store-promo">
		<div class="ribbon"><span class="ribbon-start"></span><p>Vásárlás előtt kipróbálná?</p><span class="ribbon-end"></span></div>
		<h5>Nézzen be boltunkba!</h5>
		<p class="st"><em>flairspring pest</em></p>
		<p class="st"><a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a></p>
		<p class="st"><em>Nyitvatartás</em></p>
		<p class="st">H-P : 10-18, Szo-V : 10-16 </p>
	</div>

	<div class="box promo" id="mirror-promo">
		<a href="/tukrok">
			<div class="ribbon"><span class="ribbon-start"></span><p>400 féle keretezett tükör</p><span class="ribbon-end"></span></div>
			<%= image_tag "home/mirrors.png" %>
		</a>
	</div>

	<!--<div class="promo box" id="twitter">
		<h3>Kövess twitteren</h3>
		<h4>Napi akciókért!</h4>
		<a href="https://twitter.com/pixnorbi" class="twitter-follow-button" data-show-count="false" data-lang="hu">@pixnorbi követése</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="pixnorbi" data-lang="hu">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>-->
</section>


<section class="box full" id="about-us">
	<h3>Üdvözöljük a Flairspring online boltjában!</h3>
	<h4>Böngésszen kedvére, tekintse meg széles termékválasztékunkat!</h4>
	<p> <span class="lead">A Flairspringnél</span> azért dolgozunk, hogy ügyfeleink <b>stílusos, meleg otthont</b> tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni vásárlóinknak, ezért olyan amerikai világmárkák termékeit válogattuk össze, amelyek hosszú évtizedek óta <b>meghatározó szereplői a lakberendezési piacnak</b> és sikerüket termékeik minőségének, különleges funkcióinak és reális árainak köszönhetik.</p>

	<h3 class="marg">Milyen termékeket talál boltunkban?</h3>
	<p>
		<ul>
		<li>különleges funkciókkal bíró <strong>komfort foteleket</strong></li>
		<li>hagyományos, komfort funkciós, ággyá alakítható, moziszobába való <strong>ülőgarnitúrákat</strong></li>
		<li>több, mint <strong>400 keretezett tükröt</strong></li>
		<li>több, mint <strong>900 lámpát</strong></li>
		<li>több, mint <strong>1500 kisbútort és lakberendezési kiegészítőt</strong></li>
	</ul>
	</p>
	<p>Reméljük, hogy termékeink az Ön tetszését is elnyerik! <b>Kellemes vásárlást kíván a Flairspring!</b> </p>
	<div class="hr"></div>
	<h3>Friss hírek</h3>
	<h4>A Flairspring blogból</h4>
	<% @blogposts.each do |article| %>
		<div class="blog-entry">			
			<p><span class="lead"><%= article.post_title %></span><%= truncate strip_tags(article.post_content).html_safe, :length => 470, :omission => '...' %><%= link_to "Bővebben &raquo;".html_safe, "http://blog.flairsprin.hu/?p=" + article.id.to_s %></p>
		</div>
	<% end %>
	<!-- <div class="blog-entry">
		<p><span class="lead">Mauris eu erat et</span> <%= image_tag "matthew.png", :title => "title", :class => "class" %> sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. <a href="#">Bővebben &raquo;</a></p>
	</div>
	<div class="blog-entry">
		<p><span class="lead">Mauris eu erat et</span> <%= image_tag "matthew.png", :title => "title", :class => "class" %> sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. <a href="#">Bővebben &raquo;</a></p>
	</div> -->
</section>

<section class="box full" id="brands">
	<h3>Our brands</h3>
	<% Brand.all.each do |brand| %>
		<%= link_to ('/brand/' + brand.name.downcase) do %>
			<%= image_tag brand.image_file.thumb, :title => brand.name, :class => "class" %>
		<% end %>
	<% end %>
</section>