<p id="notice"><%= notice %></p>

<p>
  <b>Custom category:</b>
  <%= @custom_categories_to_category.custom_category_id %>
</p>

<p>
  <b>Category:</b>
  <%= @custom_categories_to_category.category_id %>
</p>


<%= link_to 'Edit', edit_custom_categories_to_category_path(@custom_categories_to_category) %> |
<%= link_to 'Back', custom_categories_to_categories_path %>
