<div class="clearfix">
	<section id="sidebar">
			<nav id="category-nav" class="box">
				<h3><%= t('.categories') %></h3>
				<ul>
					<%= render 'home/category_menu_left' %>
				</ul>
			</nav>
			<div id="custom-offers-1" class="box offers">
				<h3>Melyik helyiségbe</h3>
				<a href="#">Háló</a>
				<a href="#">Fürdő</a>
				<a href="#">Nappali</a>
				<a href="#">Kert</a>
			</div>
			<div id="custom-offers-2" class="box offers">
				<h3>Anyag szerinte</h3>
				<a href="#">Fa</a>
				<a href="#">Fém</a>
				<a href="#">Műanyag</a>
				<a href="#">Üveggyapot</a>
			</div>
	</section>
	
		<section id="promo-list">
			<div class="box promo">
				<%= image_tag "matthew.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "matthew.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "uttermost.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "cart-icon.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "cart-icon.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "logo.png", :title => "title", :class => "class" %>
			</div>
		</section>
</div>

<%= render :partial => "home/product_slider_full_big", :locals => {:title => "Legújabb ágyaink", :id => "newest-beds"} %>
<%= render :partial => "home/product_slider_halves", :locals => {:title1 => "Népszerű", :id1 => "popular-products", :id2 => "super-deals", :title2 => "Szuper akció" } %>

<%= render 'home/last_viewed_carousel' if !session[:last_viewed_products].blank? %>
