<div class="clearfix">
	<section id="sidebar">
			<nav id="category-nav" class="box">
				<h3><%= t('.categories') %></h3>
				<ul>
					<%= render 'home/category_menu_left' %>
				</ul>
			</nav>
			<form action="#" id="filter-form" class="box">
				<h3><%= t('.filter') %></h3>
				<fieldset>
					<legend>Kedvezmények</legend>
					<div class="field"><label for="">Ingyenes szállítás</label><input type="checkbox" name="kedv" id="" /></div>
					<div class="field"><label for="">Ajándék jár hozzá</label><input type="checkbox" name="kedv" id="" /></div>
				</fieldset>
			</form>
	</section>
	
		<section id="promo-list">
			<div class="box promo">
				<%= image_tag "matthew.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "matthew.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "uttermost.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "cart-icon.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "cart-icon.png", :title => "title", :class => "class" %>
			</div>
			<div class="box promo">
				<%= image_tag "logo.png", :title => "title", :class => "class" %>
			</div>
		</section>
</div>

<%= render :partial => "home/product_slider_full_big", :locals => {:title => "Legújabb ágyaink", :id => "newest-products"} %>
<%= render :partial => "home/product_slider_halves", :locals => {:title => "Legújabb ágyaink", :id => "newest-products"} %>

<%= render 'home/last_viewed_carousel' if !session[:last_viewed_products].blank? %>
