<p id="notice"><%= notice %></p>

<section class="box full" id="product-box">
	<div id="product-inner">
		<div id="left-side">
			<% if @product.photos.any? %>
			<div id="picture-wrap">
				<div id="current-picture">
					<a href=<%= @product.default_photo.image_file.to_s %> class='zoomable' rel="gal1">
						<%= image_tag(@product.default_photo.image_file.product_page_default.to_s) %>
					</a>
				</div>
			</div>
			<div id="picture-list">
				<% @product.photos.each do |photo| %>
						<a class="<%= photo.default? ? 'zoomThumbActive' : '' %>" href="#" rel="{gallery: 'gal1', smallimage: '<%=photo.image_file.medium.to_s %>',largeimage: '<%=photo.image_file.to_s%>'}">
				  			<%= image_tag(photo.image_file.thumb.to_s) %>
						</a>

				<% end %>
			</div>
			<div id="social-buttons">
			  	<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=136997593064327";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-like" data-href="http://www.madeart.hu" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false"></div>
				<div class="tw-like">
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			  </div>
		</div>
		<% end %>
		<div id="right-side">
			<div id="product-title">
				<h2><%= @product.name %> <span class="sku">  <%= @product.sku %></span> </h2>
				<%= image_tag "matthew.png", :title => "title", :class => "class" %>
				<%= image_tag "uttermost.png", :title => "title", :class => "class" %>
			</div>
			<div id="info-box">
				<div class="third" id="price">
					<p class="list-price"><%= t('.list_price') %>: <span> <%= @product.price %> Ft</span></p>
					<% if @product.price != productPrice(@product) %>
						<p class="discount-price"><%= t('.sale_price') %>: <span> <%= productPrice(@product) %> Ft</span></p>
					<% end %>
				</div>
				<div class="third">

				</div>
				<div class="third last">

				</div>
			</div>
			<div id="properties-box">
				<form id="product-form" name="product-form" action="<%= line_items_path(:product_id => @product.id) %>" method="POST">
					<div class="left">
						<% @product.properties.group('property_category_id').each do |property| %>

						<p>
							<label for=""><%= PropertyCategory.find(property.property_category.id).translate.category_name %></label>
<%= select("property_category", "id", @product.properties.where(:property_category_id => property.property_category_id).collect {|p| [ p.property_name, p.id]}) %>
						</p>
						<% end %>
						<p><label for="">Mennyiség</label><input type="number" name="number" min="1" max="5" id="number" /></p>
						<p><label for="">Szállítási idő</label> 12 nap</p>
						<div class="links">
							<a href="#">szállítás</a>
							<a href="#">fizetés</a>
							<a href="#">garancia</a>
						</div>
					</div>
					<div class="right">
							<input type="submit" value="<%= t('.add_to_cart') %>">
					</div>
				</form>
			</div>
			<div id="short-description-box">
				<p><!--span class="lead">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. -->
				<%= @product.short_description %>
				</p>
			</div>
		</div>
	</div>
</section>

<div class="box-wrap clearfix">
	<section class="box third has-ribbon" id="specifications">
		<div class="ribbon"></div>
		<h3><%= t('.specifications') %></h3>
		<% if !@designer.nil? %>
			<p><span><%= t('.designer') %>: </span><%= @designer.name %></p>
		<% end %>

		<% if !@product.dimensions.nil? %>
			<p><span><%= t('.dimensions') %>: </span><%= @product.dimensions %></p>
		<% end %>

		<% if !@product.weight.nil? %>
			<p><span><%= t('.weight') %>: </span><%= @product.weight %></p>
		<% end %>
	</section>

	<% if !@product.advice.nil? %>
	<section class="box third mid has-ribbon" id="expert-advice">
		<div class="ribbon"></div>
		<h3><%= t('.expert_advice') %></h3>
		<p><!--span class="lead">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus.-->
		<%= @product.advice %>
		</p>
	</section>
	<% end %>

	<% if @product.stores.any? %>
	<% store = @product.stores.first %>
	<section class="box third last has-ribbon" id="try-it">
		<div class="ribbon"></div>
		<h3><%= t('.try_it_out') %></h3>
		<strong><%= t('.try_it_out_store_start') %><%= store.name %><%= t('.try_it_out_store_end') %></strong>
		<div class="address">
			<p>1101 <a target="_blank" href="http://maps.google.com/?q=<%= store.lat << ',' << store.long %>"><%= image_tag "map.png", :title => "title", :class => "class" %></a></p>
			<p><%= store.address %></p>
			<p>H-SZ: 10-18</p>
		</div>
	</section>
	<% end %>
</div>

<% if !@designer.nil? %>
	<section class="box full" id="about-designer">
		<h3><%= t('.about_the_designer') %></h3>
		<h4><%= @designer.name %></h4>
		<%= image_tag @designer.designer_photos.first.image_file, :title => @designer.designer_photos.first.alt, :class => "class", :alt => @designer.designer_photos.first.alt if @designer.designer_photos.any? %>
		<%= @designer.description %>
	</section>
<% end %>

<% if !@manufacturer.nil? %>
	<section class="box full" id="about-manufacturer">
		<h3><%= t('.about_the_brand') %></h3>
		<h4><%= @manufacturer.name %></h4>
		<%= image_tag @manufacturer.manufacturer_photos.first.image_file, :title => @manufacturer.manufacturer_photos.first.alt, :class => "class", :alt => @manufacturer.manufacturer_photos.first.alt if @manufacturer.manufacturer_photos.any? %>
		<%= @manufacturer.description %>
	</section>
<% end %>

<section class="box full slider clearfix" id="related-products">
	<h3><%= t('.suggested_products') %></h3>
	  <a href="#" class="arrow left"></a>
	  <div class="carousel">
		<ul>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
	<% @product.product_relates.each_with_index do |related_product,i| %>
		<% p = Product.find(related_product.id) %>
			<li class="ca-item ca-item-<%=i%>">
					<%= p.photos.any? ? image_tag(p.default_photo.image_file.product_page_default.to_s) : '' %>
					<a href=""><%= p.name %></a>
		    </li>
		<% end %>
		</ul>
	</div><!-- carousel -->
	<a href="#" class="arrow right"></a>
</section>
