<p id="notice"><%= notice %></p>

<section class="box full" id="product-box">
	<div id="product-inner">
		<div id="left-side">
			<% if @product.photos.any? %>
			<div id="picture-wrap">
				<div id="current-picture">
					<a href=<%= @product.default_photo.image_file.to_s %> class='zoomable' rel="gal1">
						<%= image_tag(@product.default_photo.image_file.product_page_default.to_s) %>
					</a>
				</div>
			</div>
			<div id="picture-list">
				<% @product.photos.each do |photo| %>
						<a class="<%= photo.default? ? 'zoomThumbActive' : '' %>" href="#" rel="{gallery: 'gal1', smallimage: '<%=photo.image_file.medium.to_s %>',largeimage: '<%=photo.image_file.to_s%>'}">  
				  			<%= image_tag(photo.image_file.thumb.to_s) %>
						</a>

				<% end %>
			</div>
			<div id="social-buttons">
			  	<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=136997593064327";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				
				<div class="fb-like" data-href="http://www.madeart.hu" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false"></div>
				<div class="tw-like">
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			  </div>
		</div>
		<% end %>
		<div id="right-side">
			<div id="product-title">
				<h2><%= @product.name %> <span class="sku">  <%= @product.sku %></span> </h2>
			</div>
			<div id="info-box">
				<div class="third" id="price">
					<p class="list-price">Lista ár: <span><%= @product.price %> Ft</span></p>
					<p class="discount-price">Akciós ár: <span><%= productPrice(@product.id) %> 1800 Ft</span></p>
				</div>
				<div class="third">
					
				</div>
				<div class="third last">
					
				</div>
			</div>
			<div id="properties-box">
				
			</div>
			<div id="short-description-box">
				  <p>
				  	<%= @product.short_description %>
				  </p>
			</div>
		</div>
	</div>
</section>

<div class="box-wrap">
	<section class="box third" id="specifications">
		<h3>Specifications</h3>
		<p><span>designer: </span>Matthew Williams</p>
		<p><span>dimensions: </span>30 x 30 x 120</p>
		<p><span>weight (kg): </span>11.2</p>
	</section>

	<section class="box third" id="expert-advice">
		<h3>Expert advice</h3>
		<p><span class="lead">Lorem ipsum dolor sit amet,</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus.</p>
	</section>

	<section class="box third" id="try-it">
		<h3>Try it out!</h3>
		<strong>A termék kipróbálható a Budai üzletünkben.</strong>
		<div class="address">
			<p>1101 <a href="http://www.googlemaps.com"><%= image_tag "map.png", :title => "title", :class => "class" %></a></p>
			<p>Budapest, Buda utca 12/b </p>
			<p>H-SZ: 10-18</p>
		</div>
	</section>
</div>

<section class="box full" id="about-designer">
	<h3>About the desginer</h3>
	<h4>Matthew Williams</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <%= image_tag "matthew.png", :title => "title", :class => "class" %> Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla.  Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
</section>

<section class="box full" id="about-manufacturer">
	<h3>About the brand</h3>
	<h4>Uttermost</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <%= image_tag "uttermost.png", :title => "title", :class => "class" %> Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla.  Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
</section>

<section class="box full slider" id="related-products">
	<h3>Suggested products</h3>
	  <a href="#" class="arrow left"></a>
	  <div class="carousel">
		<ul>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "uttermost.png", :title => "title", :class => "class" %></li>
			<li><%= image_tag "matthew.png", :title => "title", :class => "class" %></li>
	<% @product.product_relates.each_with_index do |related_product,i| %>
		<% p = Product.find(related_product.id) %>
			<li class="ca-item ca-item-<%=i%>">
					<%= p.photos.any? ? image_tag(p.default_photo.image_file.product_page_default.to_s) : '' %>
					<a href=""><%= p.name %></a>
		    </li>
		<% end %>
		</ul>
	</div><!-- carousel -->
	<a href="#" class="arrow right"></a>
</section>
	

