<section class="box full">
	<h2>Hamarosan nyitunk</h2>
	<p class="about"><span class="lead">Lorem ipsum dolor sit amet</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod <strong>rutrum</strong> dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere <strong>bibendum</strong> at fermentum purus. Fusce molestie ultrices tortor sed <strong>tincidunt</strong>. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor</p>
	<div class="hr"></div>
	<div class="clearfix">
		<div id="soon-slider">
			<%= image_tag "comingsoon/06.jpg" %>
			<%= image_tag "comingsoon/10.jpg" %>
			<%= image_tag "comingsoon/03.jpg" %>
			<%= image_tag "comingsoon/01.jpg" %>
			<%= image_tag "comingsoon/05.jpg" %>
			<%= image_tag "comingsoon/13.jpg" %>
			<%= image_tag "comingsoon/16.jpg" %>
			<%= image_tag "comingsoon/11.jpg" %>
			<%= image_tag "comingsoon/9.jpg" %>
			<%= image_tag "comingsoon/12.jpg" %>
			<%= image_tag "comingsoon/04.jpg" %>
			<%= image_tag "comingsoon/15.jpg" %>
			<%= image_tag "comingsoon/02.jpg" %>
			<%= image_tag "comingsoon/08.jpg" %>
			<%= image_tag "comingsoon/14.jpg" %>
			<%= image_tag "comingsoon/05.jpg" %>
		</div>
		<div id="soon-newsletter">
			<p>Iratkozzon fel <em>hírlvelünkre</em> és legyen öné egy <strong>2.000 Ft </strong> értékű kupon, amit <strong>bármire</strong> elkölthet hamarosan nyíló online bútorboltunkban!*</p>
			<form action="#">
				<input type="email" name="coming-email" id="coming-email" placeholder="Email címem" />
				<input type="submit" value="Feliratkozom" />
			</form>
		</div>
	</div>
	<p class="small-text"><small>* A kedvezményre jogosító kódot emailben küldjük el. Minden feliratkozó csak 1 kupont válthat be, a kuponok nem összevonhatóak. A webáruház nyitásáról email értesítőt küldünk.</small></p>
</section>
