<div class="clearfix">
	<section id="sidebar">
			<nav id="category-nav" class="box">
				<h3>Kategóriák</h3>
				<ul>
					<%= render 'home/category_menu_left' %>
				</ul>
			</nav>
			<form action="#" id="filter-form" class="box">
				<h3>Szűrés</h3>
				<fieldset>
					<legend>Kedvezmények</legend>
					<div class="field"><label for="">Ingyenes szállítás</label><input type="checkbox" name="kedv" id="" /></div>
					<div class="field"><label for="">Ajándék jár hozzá</label><input type="checkbox" name="kedv" id="" /></div>
				</fieldset>
			</form>
	</section>

	<section id="product-list" class="box">
		<div id="action-top">
			<div class="order-buttons">
				<a href="#">Newest</a>
				<a href="#">Name</a>
				<a href="#">Lowest price</a>
				<a href="#">Highest price</a>
			</div>
			<a class="view-all" href="#">view all</a> <%= paginate @products %>
		</div>
		<div id="product-grid">
			<%= render 'home/product_grid' %>
		</div>
		<div id="action-bottom">
			<div class="order-buttons">
				<a href="#">Newest</a>
				<a href="#">Name</a>
				<a href="#">Lowest price</a>
				<a href="#">Highest price</a>
			</div>
			<a class="view-all" href="#">view all</a> <%= paginate @products %>
		</div>
	</section>
</div>
<%= render 'home/last_viewed_carousel' if !session[:last_viewed_products].blank? %>
