<div class="clearfix">
	<section id="sidebar">
			<nav id="category-nav" class="box">
				<h3>Kategóriák</h3>
				<ul>
					<%= render 'home/category_menu_left' %>
				</ul>
			</nav>
			<form action="#" id="filter-form" class="box">
				<h3>Szűrés</h3>
					<%= render 'home/filters' %>
			</form>
	</section>

	<section id="product-list" class="box">
		<div id="action-top">
			<div class="order-buttons">
				<a href="#"><%= t('.newest') %></a>
				<a href="#"><%= t('.name') %></a>
				<a href="#"><%= t('.lowest_price') %></a>
				<a href="#"><%= t('.highest_price') %></a>
			</div>

			<%= link_to t('.view_all'), request.path + "?page=all", :class => "view-all" %>
			<%= paginate @kaminari_products, :window => 2, :outer_window => 1 %>
		</div>
		<div id="product-grid">
			<%= render 'home/product_grid' %>
		</div>
		<div id="action-bottom">
			<div class="order-buttons">
				<a href="#"><%= t('.newest') %></a>
				<a href="#"><%= t('.name') %></a>
				<a href="#"><%= t('.lowest_price') %></a>
				<a href="#"><%= t('.highest_price') %></a>
			</div>
			<%= link_to t('.view_all'), request.path + "?page=all", :class => "view-all" %>
			<%= paginate @kaminari_products, :window => 2, :outer_window => 1 %>
		</div>
	</section>
</div>
<%= render 'home/last_viewed_carousel' if !session[:last_viewed_products].blank? %>
