<div class="clearfix">
	<section id="sidebar">
			<nav id="category-nav" class="box">
				<h3>Kategóriák</h3>
				<ul>
					<%= render 'home/category_menu_left' %>
				</ul>
			</nav>
			<form action="#" id="filter-form" class="box">
				<h3>Szűrés</h3>
					<%= render 'home/filters' %>
			</form>
	</section>

	<section id="product-list" class="box">
		<form action="#" id="action-form-top">
			<a class="view-all" href="#">view all</a>
			<%= paginate @products, :window => 2, :outer_window => 1 %>
		</form>
		<div id="product-grid">
			<%= render 'home/product_grid' %>
		</div>
		<form action="#" id="action-form-bottom">
			<a class="view-all" href="#">view all</a>
			<%= paginate @products, :window => 2, :outer_window => 1 %>
		</form>
	</section>
</div>
<%= render 'home/last_viewed_carousel' if !session[:last_viewed_products].blank? %>
