<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">	
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  
  <title>Madearthome - <%= t('.title') %></title>
  <%= stylesheet_link_tag    "application", controller_name %>
  <%= javascript_include_tag "application", controller_name %> 
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6. chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<header id="main-header">
	<nav id="misc-menu">
		<ul>
			<li class="first"><%= t('.top_menu_need_help') %> 123-4567</li>
			<li><%= link_to t('.register'), "/register" %></li>
			<li><%= link_to t('.login'), "/login" %></li>
			<li><%= link_to t('.wishlist'),"/wishlist" %></li>
			<li><%= link_to "Blog", "http://www.madeartdesign.hu/magazinhu/" %></li>
			<%= LANGUAGES.each do |lang| %>
				<% if lang[1] != I18n.locale.to_s %>
					<li><%= link_to lang[0], url_for( :locale => lang[1] ) %></li>
				<% end %>
			<% end %>
		</ul>
	</nav>
	<div id="header-wrapper">
		<a href="/">
			<h1 id="logo">
				Flairspring<span>Comfort on your side</span>
			</h1>
		</a>
		<div id="minicart-wrapper">
			<%= render 'home/minicart' %>
		</div>
		<div id="search-wrapper">
			<form action="#" id="search-form">
				<input type="search" results="5" name="search" id="search" placeholder="<%= t('.search') %>..." />
				<input type="submit" value="<%= t('.search') %>" />
			</form>
			<p id="search-examples"><strong>Pl.:</strong> <a href="#">accent table</a>, <a href="#">working chair</a></p>
		</div>
		<nav id="main-nav">
			<ul class="clearfix">
				<%= render 'home/categories_top' %>
			</ul>
		</nav>
		<% if params[:controller] != 'home'%>
		<nav id="breadcrumb">
			<p>
				<%= render 'home/breadcrumb' %>
			</p>
		</nav>
		<% end %>
	</div>
</header>


<% if params[:controller] == 'home'%>
<%= render 'slider' %>
<% end %>
<div id="main-wrap">
	<%= yield %>
</div>

<section id="social-promo">
	<%= render 'home/newsletter' %>
	<%= render 'home/contact_promo' %>
</section>

<footer id="main-footer">
	<div id="main-footer-inner">
		<div>
			<h3>Shop</h3>
			<ul>
				<li><a class="level-1" href="#">Lorem</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
			</ul>
		</div>
		<div>
			<h3>About</h3>
			<ul>
				<li><a class="level-1" href="#">Lorem</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
			</ul>
		</div>
		<div class="last">
			<h3>Connect</h3>
			<ul>
				<li><a class="level-1" href="#">Lorem</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
			</ul>
		</div>
	</div>
</footer>
</body>
</html>
