<!DOCTYPE html>
<html>
<head>
  <title>Madearthome - <%= t('.title') %></title>
  <%= stylesheet_link_tag    "application", controller_name %>
  <%= javascript_include_tag "application", controller_name %> 
  <%= csrf_meta_tags %>
</head>
<body>

<header id="main-header">
	<nav id="misc-menu">
		<ul>
			<li class="first"><%= t('.top_menu_need_help') %> 123-4567</li>
			<li><%= link_to t('.register'), "/register" %></li>
			<li><%= link_to t('.login'), "/login" %></li>
			<li><%= link_to t('.wishlist'),"/wishlist" %></li>
			<li><%= link_to "Blog", "http://www.madeartdesign.hu/magazinhu/" %></li>
		</ul>
	</nav>
	<div id="header-wrapper">
		<a href="/">
			<h1 id="logo">
				Flairspring<span>Comfort on your side</span>
			</h1>
		</a>
		<div id="minicart-wrapper">
			<%= render 'home/minicart' %>
		</div>
		<div id="search-wrapper">
			<form action="#" id="search-form">
				<input type="search" results="5" name="search" id="search" placeholder="<%= t('.search') %>..." />
				<input type="submit" value="<%= t('.search') %>" />
			</form>
			<p id="search-examples"><strong>Pl.:</strong> <a href="#">accent table</a>, <a href="#">working chair</a></p>
		</div>
		<nav id="main-nav">
			<ul class="clearfix">
				<%= render 'home/categories_top' %>
			</ul>
		</nav>
		<% if params[:controller] != 'home'%>
		<nav id="breadcrumb">
			<p>
				<%= render 'home/breadcrumb' %>
			</p>
		</nav>
		<% end %>
	</div>
</header>


<% if params[:controller] == 'home'%>
<%= render 'slider' %>
<% end %>
<div id="main-wrap">
	<%= yield %>
</div>

<section id="social-promo">
	<div id="newsletter-promo" class="half">
		<h3><%= t('.newsletter') %></h3>
		<em>sign up for our <span>newsletter</span></em>
		<p>And get <strong>10%</strong> off your first purchase</p>
		<form action="" id="newsletter-form">
			<input type="email" name="newsletter-email" id="newsletter-email" placeholder="<%= t('.newsletter_email_placeholder') %>" />
			<input type="submit" value="<%= t('.newsletter_sign_up') %>" />
		</form>
	</div>
	<div id="contact-promo" class="half">
		<h3>Contact us for advice</h3>
		<p><em>email:</em> info@flairspring.com</p>
		<p><em>support:</em> +36-30-123-1231</p>
	</div>
</section>

<footer id="main-footer">
	<div id="main-footer-inner">
		<div>
			<h3>Shop</h3>
			<ul>
				<li><a class="level-1" href="#">Lorem</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
			</ul>
		</div>
		<div>
			<h3>About</h3>
			<ul>
				<li><a class="level-1" href="#">Lorem</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
			</ul>
		</div>
		<div class="last">
			<h3>Connect</h3>
			<ul>
				<li><a class="level-1" href="#">Lorem</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
				<li><a href="#">Ipsum</a></li>
			</ul>
		</div>
	</div>
</footer>
</body>
</html>
